
<% form_for @user do |u| %>
	<%=error_messages_for :user %>
<%= hidden_field_tag :direction, "next" %>
<%= label_tag :uid, "User ID:" %><br />
<%=u.text_field :uid %><br />
<%= label_tag :firstname, "First name:"%><br />
<%= u.text_field :firstname %><br /><%= label_tag:lastname, "Last name:" %><br />
<%= u.text_field :lastname %><br/><%= label_tag :email, "Email:" %><br />
<%= u.text_field :email %><br />
<hr/>
<table class="controls">
  <tr>
    <td>
      <%= button_to_function "Previous",
        "$('direction').value = 'previous'; this.form.submit();" %>
    </td>
    <td>
    <%= submit_tag "Next" %>
    </td>
    </tr>
</table>
<% end %>
